/* using two different files for each font to maximize browser compatibility; */
@font-face {
    font-family: 'sweetsmile';
    src: url('fonts/sweets_smile-webfont.woff2') format('woff2'),url('fonts/sweets_smile-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hugmetight';
    src: url('fonts/hug_me_tight_-_ttf-webfont.woff2') format('woff2'),url('fonts/hug_me_tight_-_ttf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ensure consistent sizing and spacing throughout the page, regardless of their type or position */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  fluid typography using clamp() without using media queries */
/*  clamp (minimum value, preferred value, maximum value)*/
:root {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-family: sans-serif;

     /*  custom property */
     --main-color: rgb(14, 158, 229);
     --second-color: rgb(103,71,54);
     --third-color: rgb(243,244,246);
     --fourth-color:rgb(146,145,145);
}

.container {
    display: flex;
}

.left-container {
    width: 60vw;
}

.img-container {
    position: relative;
    width: 40vw;
    height: 100vh;
}

.img {
    position: absolute;
    background-repeat: no-repeat;
    /* background-size: cover; */
    width: 40vw;
    height: 100vh;
    z-index: -1;
}
.logo-container {
    position: absolute;
    top: 20vh;
    width: 40vw;
    height: 30vh;    
    z-index: 2;
    display: flex;
    justify-content: center;
    background-color: rgba(97,110,125,0.6);
}

.footer {
    position: absolute;
    bottom: 0.5rem;
    left: 7rem;
    font-family: hugmetight, sans-serif;
    color: var(--third-color, white);
    font-size: 0.6rem;
}

.logo{
    /* shadow around logo */
    filter: drop-shadow(15px 15px 15px white);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.store-name{
    margin: 2rem 0.5rem 0 0;
    font-family: sweetsmile,sans-serif;
    font-size: 1.8rem;
    color: var(--second-color, rgb(97, 30, 30));
    filter: drop-shadow(5px 5px 15px white);
}

.slogan {
    font-family: hugmetight, sans-serif;
    font-size: 0.7rem;
    color: var(--third-color, white);
}

/* introduction and form */
.left-container {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem 1rem 1.5rem;
    background-color: var(--third-color);
}

.article {
    margin: 0 2rem 1rem 2rem;
    line-height: 1.3rem;
}

.article + p{
    margin: 0 2rem 2rem 2rem;
}

.form-container {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}

.form-container p{
    margin-bottom: 1rem;
    font-size: 1rem;
}

label {
    display: block;
    font-size: 0.1rem;
    color: var(--fourth-color);
}

input[type='checkbox'] {
    display: inline;
}

.form-control {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5vh 10vh;

}

input[type='text'], 
input[type='email'],
input[type='tel'],
input[type='password'] {
    width: 20vw;
    border: 1px solid #dddcdc;
    border-radius: 0.3rem;
    box-sizing: border-box;
    height: 1.3rem;
    padding: 0.3rem 0.5rem;
}

/* use ':has' pseudo-class to change label color when input:focus */
.form-control>div:has(input:focus) label,
div.terms:has(input:focus) label{
    color: black;
}

input:focus {
    box-shadow: 2px 2px 3px silver;
}

.terms {
    margin-bottom: 1rem;
}

a{
    color: var(--fourth-color);
    text-decoration: underline;
}

label[for='terms'] {
    display: inline;
}

.sign-up-btn button {
    background-color: var(--second-color);
    color: var(--third-color);
    padding: 0.7rem 2.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bolder;
    box-shadow: 2px 2px 3px silver;
    margin: 1rem 0 2rem 0;
}

p.direct-to-login {
    font-size: 0.1rem;
    color: var(--fourth-color);
}