/* using two different files for each font to maximize browser compatibility; */
@font-face {
    font-family: 'sweetsmile';
    src: url('fonts/sweets_smile-webfont.woff2') format('woff2'),url('fonts/sweets_smile-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hugmetight';
    src: url('fonts/hug_me_tight_-_ttf-webfont.woff2') format('woff2'),url('fonts/hug_me_tight_-_ttf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ensure consistent sizing and spacing throughout the page, regardless of their type or position */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  fluid typography using clamp() without using media queries */
/*  clamp (minimum value, preferred value, maximum value)*/
:root {
    font-size: clamp(1rem, 3vw, 2rem);
}